    <!-- FOOTER -->
    <footer class="site-footer" aria-label="{{footer.aria.label}}">
        <div class="footer-inner">

            <div class="footer-brand">
               {{LANG_SWITCHER}}
            </div>

            <div class="footer-col">
                <a href="https://vantag.es/aviso-legal/" target="_blank" rel="noopener noreferrer">{{footer.legalnotice}}</a>
                <a href="https://vantag.es/politica-de-privacidad/" target="_blank" rel="noopener noreferrer">{{footer.privacy}}</a>
                <a href="https://vantag.es/politica-de-cookies/" target="_blank" rel="noopener noreferrer">{{footer.cookies}}</a>
            </div>

        </div>
        <div class="footer-bottom">
            <p><span aria-hidden="true">&copy; </span><span>{{footer.copy}}</span></p>
        </div>
    </footer>
