    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>{{TOOL_TITLE}}</title>
    <meta name="description" content="{{TOOL_DESCRIPTION}}">
    <meta name="keywords"    content="{{TOOL_KEYWORDS}}">
    <link rel="canonical"    href="{{CANONICAL}}">

    <!-- Hreflang multiidioma -->
{{HREFLANG}}

    <!-- Open Graph -->
    <meta property="og:type"        content="website">
    <meta property="og:url"         content="{{CANONICAL}}">
    <meta property="og:title"       content="{{TOOL_TITLE}}">
    <meta property="og:description" content="{{TOOL_DESCRIPTION}}">
    <meta property="og:locale"      content="{{og.locale}}">
    <meta property="og:site_name"   content="VANTAG">

    <!-- Twitter Card -->
    <meta name="twitter:card"        content="summary">
    <meta name="twitter:title"       content="{{TOOL_TITLE}}">
    <meta name="twitter:description" content="{{TOOL_DESCRIPTION}}">

    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://analytics.ahrefs.com/analytics.js" data-key="oA8yUwDVh1oNyFuvNfpTWA" async></script>
    <link rel="shortcut icon" href="/img/ico.png" type="image/x-icon">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8963307301132988"
     crossorigin="anonymous"></script>

     <script defer src="https://analytics.vantag.es/script.js" data-website-id="ca9cb004-c25b-48e7-b10e-e3d4d3a11dcf"></script>